## Programming Assignment 5
#### Author: Nick Romano
#### Version 1.0
#### Fall 2021 CS 150-02: Computer Programming for the Liberal Arts


**Language Translator**

In [1]:
English_Spanish = {"hello": "hola",
                   "goodbye": "adiós",
                   "thank you": "gracias",
                   "you're welcome": "de nada",
                   "thank you": "por favor",
                   "good morning": "beunas días",
                   "good afternoon": "beunas tardes",
                   "good evening": "beunas noches",
                   "friday": "viernes",
                   "saturday": "sábado",
                   "sunday": "domingo",
                   "red": "rojo",
                   "blue": "azul",
                   "green": "verde",
                   "house": "la casa",
                   "school": "la escuela",
                   "food": "la comida",
                   "computer": "la computadora",
                   "television": "la televisor",
                   "car": "el coche"}

while True:
    user_word = input("Enter a word to translate from English to Spanish (Type 0 to stop): ")
    
    if user_word.lower() in English_Spanish.keys():
        print(f"The Spanish word for '{user_word.lower()}' is '{English_Spanish.get(user_word.lower())}'")
        
    else:
        if user_word == '0':
            break
        else:
            print(f"The Spanish word for '{user_word}' is not in this dictionary")
    print("")

Enter a word to translate from English to Spanish (Type 0 to stop): hello
The Spanish word for 'hello' is 'hola'

Enter a word to translate from English to Spanish (Type 0 to stop): thank you
The Spanish word for 'thank you' is 'por favor'

Enter a word to translate from English to Spanish (Type 0 to stop): you're welcome
The Spanish word for 'you're welcome' is 'de nada'

Enter a word to translate from English to Spanish (Type 0 to stop): computer
The Spanish word for 'computer' is 'la computadora'

Enter a word to translate from English to Spanish (Type 0 to stop): telephone
The Spanish word for 'telephone' is not in this dictionary

Enter a word to translate from English to Spanish (Type 0 to stop): 0


**Temperature Converter**

In [2]:
# data pulled from 
# https://www.accuweather.com/en/us/louisville/40202/september-weather/348428?year=2021

September_forecast = {"high":
                             {"September 1": 85, "September 2": 83, "September 3": 84, 
                              "September 4": 84, "September 5": 82, "September 6": 87,
                              "September 7": 86, "September 8": 85, "September 9": 81, 
                              "September 10": 82, "September 11": 84, "September 12": 87,
                              "September 13": 89, "September 14": 89, "September 15": 84,
                              "September 16": 85, "September 17": 89, "September 18": 89,
                              "September 19": 86, "September 20": 78, "September 21": 78,
                              "September 22": 71, "September 23": 71, "September 24": 75,
                              "September 25": 74, "September 26": 77, "September 27": 85,
                              "September 28": 87, "September 29": 89, "September 30": 86},
                     "low":
                             {"September 1": 69, "September 2": 61, "September 3": 61, 
                              "September 4": 64, "September 5": 66, "September 6": 60,
                              "September 7": 63, "September 8": 66, "September 9": 59, 
                              "September 10": 60, "September 11": 61, "September 12": 69,
                              "September 13": 69, "September 14": 71, "September 15": 71,
                              "September 16": 69, "September 17": 70, "September 18": 72,
                              "September 19": 72, "September 20": 71, "September 21": 70,
                              "September 22": 55, "September 23": 51, "September 24": 50,
                              "September 25": 54, "September 26": 50, "September 27": 58,
                              "September 28": 68, "September 29": 66, "September 30": 68}
                     }


for i, j in September_forecast["high"].items():
    new_hightemp = float("{:.2f}".format((5/9)*(j-32)))
    September_forecast["high"].update({i:new_hightemp})
    
for i, j in September_forecast["low"].items():
    new_hightemp = float("{:.2f}".format((5/9)*(j-32)))
    September_forecast["low"].update({i:new_hightemp})


print("The daily highs for the month of September in Celsius are ")
for i, j in September_forecast["high"].items():
    print(f"{i}: {j}")

print("\nThe daily lows for the month of September in Celsius are ")
for i, j in September_forecast["low"].items():
    print(f"{i}: {j}")

The daily highs for the month of September in Celsius are
September 1: 29.44
September 2: 28.33
September 3: 28.89
September 4: 28.89
September 5: 27.78
September 6: 30.56
September 7: 30.0
September 8: 29.44
September 9: 27.22
September 10: 27.78
September 11: 28.89
September 12: 30.56
September 13: 31.67
September 14: 31.67
September 15: 28.89
September 16: 29.44
September 17: 31.67
September 18: 31.67
September 19: 30.0
September 20: 25.56
September 21: 25.56
September 22: 21.67
September 23: 21.67
September 24: 23.89
September 25: 23.33
September 26: 25.0
September 27: 29.44
September 28: 30.56
September 29: 31.67
September 30: 30.0

The daily lows for the month of September in Celsius are
September 1: 20.56
September 2: 16.11
September 3: 16.11
September 4: 17.78
September 5: 18.89
September 6: 15.56
September 7: 17.22
September 8: 18.89
September 9: 15.0
September 10: 15.56
September 11: 16.11
September 12: 20.56
September 13: 20.56
September 14: 21.67
September 15: 21.67
September 16: 20.56
September 17: 21.11
September 18: 22.22
September 19: 22.22
September 20: 21.67
September 21: 21.11
September 22: 12.78
September 23: 10.56
September 24: 10.0
September 25: 12.22
September 26: 10.0
September 27: 14.44
September 28: 20.0
September 29: 18.89
September 30: 20.0

In [3]:
September_forecast = {"high":
                             {"September 1": 85, "September 2": 83, "September 3": 84, 
                              "September 4": 84, "September 5": 82, "September 6": 87,
                              "September 7": 86, "September 8": 85, "September 9": 81, 
                              "September 10": 82, "September 11": 84, "September 12": 87,
                              "September 13": 89, "September 14": 89, "September 15": 84,
                              "September 16": 85, "September 17": 89, "September 18": 89,
                              "September 19": 86, "September 20": 78, "September 21": 78,
                              "September 22": 71, "September 23": 71, "September 24": 75,
                              "September 25": 74, "September 26": 77, "September 27": 85,
                              "September 28": 87, "September 29": 89, "September 30": 86},
                     "low":
                             {"September 1": 69, "September 2": 61, "September 3": 61, 
                              "September 4": 64, "September 5": 66, "September 6": 60,
                              "September 7": 63, "September 8": 66, "September 9": 59, 
                              "September 10": 60, "September 11": 61, "September 12": 69,
                              "September 13": 69, "September 14": 71, "September 15": 71,
                              "September 16": 69, "September 17": 70, "September 18": 72,
                              "September 19": 72, "September 20": 71, "September 21": 70,
                              "September 22": 55, "September 23": 51, "September 24": 50,
                              "September 25": 54, "September 26": 50, "September 27": 58,
                              "September 28": 68, "September 29": 66, "September 30": 68}
                     }

print("Days with the warmest high: ")
for i, j in September_forecast["high"].items():
    warmest_hightemp = max(list(September_forecast["high"].values()))
    if j == warmest_hightemp:
        print(f"{i}: {j}")
        
print("\nDays with the coolest high: ")
for i, j in September_forecast["high"].items():
    coolest_hightemp = min(list(September_forecast["high"].values()))
    if j == coolest_hightemp:
        print(f"{i}: {j}")
        
print("\nDays with the warmest lows: ")
for i, j in September_forecast["low"].items():
    warmest_lowtemp = max(list(September_forecast["low"].values()))
    if j == warmest_lowtemp:
        print(f"{i}: {j}")
        
print("\nDays with the coolest lows: ")
for i, j in September_forecast["low"].items():
    coolest_lowtemp = min(list(September_forecast["low"].values()))
    if j == coolest_lowtemp:
        print(f"{i}: {j}")

Days with the warmest high:
September 13: 89
September 14: 89
September 17: 89
September 18: 89
September 29: 89

Days with the coolest high:
September 22: 71
September 23: 71

Days with the warmest lows:
September 18: 72
September 19: 72

Days with the coolest lows:
September 24: 50
September 26: 50


**Operation Definition and Example**

**Symmetric Difference(^)**

The symmetric difference operation `^` forms a set that contians elements that are unique to each set. Elements that belong to only one of the two sets will be present in the new set that is created.

In [4]:
set1 = {1, 3, 5, 7, 9, 11}
set2 = {1, 2, 3, 5, 8, 13}
set1^set2

{2, 7, 8, 9, 11, 13}

In this example of the symmetric difference operation, the line `set1^set2` creates a new set with elements `{2, 7, 8, 9, 11, 13}`. This is because these elements are only present in one of the two sets. The elements `1, 3, 5` are left out because they are present in both set1 and set2

**Disjoint**

If two sets are disjoint this means that there are no elements that appear in both sets. The way that we can test is two sets is by using .disjoint(), which tests to see if 2 sets do not share any common elements. If the two sets do not share any common elements True is returned, but if there is one or more common elements than False is returned.

In [5]:
set1 = {5, 15, 25, 35, 45}
set2 = {0, 10, 20, 30, 40}
set1.isdisjoint(set2)

True

In this first example, set1 and set2 are considered disjointed sets because they do not have any elements that the other set has. set1 has elements `{5, 15, 25, 35, 45}`, whereas set2 has elements `{0, 10, 20, 30, 40}`. Since set1 doesn't have any elements that are in set2 and set2 doesn't have any elements that are in set1, the line `set1.isdisjoint(set2)` returns True

In [6]:
set1 = {5, 10, 15, 25, 35, 45}
set2 = {0, 10, 20, 30, 40}
set1.isdisjoint(set2)

False

In this second example, set1 and set2 are not considered to be disjointed sets, since they share an element. set1 has the elements `{5, 10, 15, 25, 35, 45}`, whereas the set2 has the elements `{0, 10, 20, 30, 40}`. The element that they share is 10. Since they share at least one element, the line `set1.isdisjoint(set2)` returns False.

**intersection_update (&=)**

The intersection_update (&=) operation updates or modifies whichever set is to the left of &= to only include the elements in which are present in both sets

In [7]:
set1 = {0, 1, 2, 3, 5, 8, 11}
set2 = {1, 3, 5, 7, 9}
set1&=set2
set1

{1, 3, 5}

In this example of the intersection_update operation, set1 contains the elements `{0, 1, 2, 3, 5, 8, 11}`, where set2 contains the elements `{1, 3, 5, 7, 9}`. The elements that set1 and set2 share or both have in common are the elements `{1, 3, 5}`. So the line `{set1&=set2}` updates set 1 to only contain the shared elements `{1, 3, 5}`

**Symmetric difference update(^=)**

The `symmetric_difference_ update (^=)` operation updates or modifies the elements of whichever set is to the left of the `&=` to only include the elements that are unique to both sets.

In [8]:
set1 = {0, 1, 2, 3, 5, 8, 11}
set2 = {1, 3, 5, 7, 9}
set1^=set2
set1

{0, 2, 7, 8, 9, 11}

In this example of the Systemtric difference update, set1 contains the elements `{0, 1, 2, 3, 6, 8, 11}`, whereas set2 contains the elements `{1, 3, 5, 7, 9}`. The elements that are unique to set1 are `{0, 2, 8, 11}`. The elements that are unique to set2 are `{7, 9}`. So the line `set1^=set1` updates set to include the elements that are unique to set1 and set2. As a result, the set1 becomes `{0, 2, 7, 8, 9, 11}`.

**remove(), discard(), pop()**

The `remove()`, `discard()`, and `pop()` operations are all used to remove elements from a set, but each have a slight difference. 

The `remove()` operation can remove an element from a set, but the given element **MUST** be in the set. Otherwise an error occurs. 

The `discard()` operation can remove an element from a set, but the given element doesn't neccessarily have to be in the set. If the element is within the set, the element is simply removed. But if the element is not within the set, no error message occurs. 

The `pop()` operation can remove an element from the set, but removes a random element from the set. An error really only occurs if you are using the `.pop()` operation on a set that doesn't have any elements, since there would not be any elements to remove in the first place.

In [9]:
set1 = {0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20}
set1.remove(6)
set1

{0, 2, 4, 8, 10, 12, 14, 16, 18, 20}

In [10]:
set1.remove(6)
set1

KeyError: 6

In these examples of the remove() operation, set1 has the elements `{0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20}`. In the first example, the line `set1.remove(6)` removes 6 from the set. But in the second example, I attempted to remove 6 which currently is not present in set1 since it had previously been removed. As a result, the line `set1.remove(6)` in the second example returns an error saying that I'm trying to remove an element that is not present in set1.

In [11]:
set1 = {0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20}
set1.discard(6)
set1

{0, 2, 4, 8, 10, 12, 14, 16, 18, 20}

In [12]:
set1.discard(6)
set1

{0, 2, 4, 8, 10, 12, 14, 16, 18, 20}

In these examples of the `discard()` operation, set 1 has the elements `{0, 2, 4, 6, 8, 10, 12, 16, 18, 20}`. In the first example, the line `set1.discard(6)` removes 6 from the set. But in the example, I attempt to remove 6, which was previously removed from th set, again from the set. But unlike the `remove()` operation, `discard()` doesn't produce an error message because of the fact that the element that you are trying to discard doesn't neccessarily have to be in the set. Therefore, the set1 is just returned back.

In [13]:
set1 = {0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20}
print(set1.pop())
set1

0

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

In [14]:
set1 = set()
set1.pop()

KeyError: 'pop from an empty set'

In these examples of the `pop()` operation, set1 has the elements `{0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20}`. In the first example, the line `set1.pop()` randomly selects an element to remove since set elements aren't indexed. So the element that is removed in this case is 0. In the second case, I showed that if you try to use the `.pop()` operation on a set with no elements, an error message is encountered.